@tailwind base;
@tailwind components;
@tailwind utilities;

.dice-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.rolling {
  animation-name: roll;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button {
  background-color: #ff007f;
  border-radius: 0.5rem;
}
